.body,
.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  margin-right: 30px;
  border: 2px black;
  padding: 14px;
  background-color: green;
  color: white;
}

.title {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
